.profile__profession {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    width: 318px;
    height: 18px;
    padding: 0;

}
@media screen and (min-width: 320px) and (max-width: 767px){
    .profile__profession {
        width: 280px;
        height: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    
}