@import url('./_visible/modal__error_visible.css');

.modal__error {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}