.modal__close-button {
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-image: url('../../../images/close_Icon.svg');
    padding: 0;
    margin: 0;
    height: 40.7px;
    width: 40.7px;
    border: none;
    
}

.modal__close-button:hover {
    opacity: 0.6;
    cursor: pointer;

}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .modal__close-button {
        height: 30px;
        width: 30px;
    }
}