.modal__save {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    color: #fff;
    margin: 48px 0 0 36px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .modal__save {
        width: 240px;
        margin: 48px 0 0 18px;
    }
}
.modal__save:hover {
    opacity: 0.8;
    cursor: pointer;
}