.profile__button_add {
    width: 150px;
    height: 50px;
    margin: 0 0 0 156px;
    background-image: url('../../../../images/add-button.svg');
    background-size: 22px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profile__button_add {
        margin: 0;
        width: 282px;
        height: 50px;
        background-size: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__button_add {
        margin: 36px 0 0;
        width: 282px;
        height: 50px;
        background-size: 16px;
    }
}

.profile__button_add:hover {
    opacity: 0.6;
    cursor: pointer;
}