

.modal__input {
    position: relative;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #000;
    width: 358px;
 
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .modal__input {
       
        width: 220px;
     
    }
}