.gallery__delete-button {
    background-image: url('../../../images/delete_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    box-sizing: border-box;
    border: none;
    width: 18px;
    height: 19.3px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.gallery__delete-button:hover {
    opacity: 0.6;
  }