.profile__button_edit {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    background-image: url('../../../../images/edit-button.svg');
    background-size: 10px;
    border: 1px solid #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__button_edit {
        width: 18px;
        height: 18px;
        margin-left: 12px; 
        background-size: 7.5px;
    }
}
.profile__button_edit:hover {
    opacity: 0.6;
    cursor: pointer;
}