.modal__input_type_url {
    margin: 30px 0 0 36px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .modal__input_type_url {
        margin: 30px 0 0 18px;
    }
    
}